<html lang="en">
  <head>
    <title>Student</title>

    <style>
      html {
        height: 100%;
      }

      body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        background: #212529;
      }

      p {
        font-size: 16px;
        color: #f9f9f9;
      }

      h3 {
        color: white;
      }
      
      .show-intermediates-btn {
        background:none;
        color: white;
        text-decoration: underline;
        border:none;
        margin:0;
        padding:0;
        cursor: pointer;
      }
      
      .show-intermediates-div {
        display: none;
        color: white;
      }
  
      
      .result-box {
        color: white;
        width: 100%;
        font-size: 16px;
        resize: vertical;
        border: none;
        display: block;
        min-height: 0px;
        background-color: transparent;
        border-bottom: transparent;
      }

      .textarea {
        display: block;
        width: 100%;
        overflow: hidden;
        resize: both;
        min-height: 40px;
        line-height: 20px;
      }

      .textarea[contenteditable]:empty::before {
        content: "Placeholder still possible";
        color: gray;
      }

      .login-box {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 200px;
        width: 60%;
        max-height: 80%;
        overflow-y: auto;
        padding: 40px;
        transform: translate(-50%, -50%);
        background: #2f323b;
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
        border-radius: 10px;
      }

      .login-box h2 {
        margin: 0 0 30px;
        padding: 0;
        color: #ffffff;
        text-align: center;
      }

    
      .login-box a {
        color: #2364d2;
        text-decoration: none;
      }
      .card-form-button {
        margin: auto;
        width: 100%;

        @media screen and (max-width: 576px) {
          margin: 0 auto;
        }

        width: 100%;
        height: 55px;
        background: #342f5e;
        border: none;
        border-radius: 5px;
        font-size: 22px;
        font-weight: 500;
        font-family: "Source Sans Pro", sans-serif;
        {% comment %} box-shadow: 3px 10px 20px 0px rgba(35, 100, 210, 0.3); {% endcomment %}
        color: #ffffff;
        margin-top: 20px;
        cursor: pointer;

        @media screen and (max-width: 480px) {
          margin-top: 10px;
        }
      }
      
      .card-form-secondary-button {
        margin: auto;
        width: 100%;

        @media screen and (max-width: 576px) {
          margin: 0 auto;
        }    
        
        width: 100%;
        height: 55px;
        background: #dcedf5;
        border: none;
        border-radius: 5px;
        font-size: 18px;
        font-weight: 500;
        font-family: "Source Sans Pro", sans-serif;
        box-shadow: 3px 10px 20px 0px rgba(35, 100, 210, 0.3);
        color: #2364d2;
        margin-top: 20px;
        cursor: pointer;

        @media screen and (max-width: 480px) {
          margin-top: 10px;
        }
      }

      .floating-label {
        position: relative;
        margin-bottom: 5px;
      }
      .floating-input,
      .floating-select {
        font-size: 16px;
        padding: 4px 4px;
        display: block;
        width: 100%;
        height: 30px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #ffffff;
      }

      .floating-input:focus,
      .floating-select:focus {
        outline: none;
        border-bottom: 2px solid #03e9f4;
      }

      label {
        color: #DBDCDE;
        font-size: 16px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 5px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
      }

      .floating-input:focus ~ label,
      .floating-input:not(:placeholder-shown) ~ label {
        top: -18px;
        font-size: 14px;
        color: #03e9f4;
      }

      .floating-select:focus ~ label,
      .floating-select:not([value=""]):valid ~ label {
        top: -18px;
        font-size: 14px;
        color: #03e9f4;
      }

      /* active state */
      .floating-input:focus ~ .bar:before,
      .floating-input:focus ~ .bar:after,
      .floating-select:focus ~ .bar:before,
      .floating-select:focus ~ .bar:after {
        width: 50%;
      }

      *,
      *:before,
      *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }

      .floating-textarea {
        min-height: 60px;
        max-height: 260px;
        color: white;
        overflow: hidden;
        overflow-x: hidden;
      }

      /* active state */
      .floating-input:focus ~ .highlight,
      .floating-select:focus ~ .highlight {
        -webkit-animation: inputHighlighter 0.3s ease;
        -moz-animation: inputHighlighter 0.3s ease;
        animation: inputHighlighter 0.3s ease;
      }
      
      /* animation */
      @-webkit-keyframes inputHighlighter {
        from {
          background: #03e9f4;
        }
        to {
          width: 0;
          background: transparent;
        }
      }
      @-moz-keyframes inputHighlighter {
        from {
          background: #03e9f4;
        }
        to {
          width: 0;
          background: transparent;
        }
      }
      @keyframes inputHighlighter {
        from {
          background: #03e9f4;
        }
        to {
          width: 0;
          background: transparent;
        }
      }
      
      .navbar-brand {
        padding-top: 6vh;
        padding-bottom: 0.3125rem;
        font-size: 1.25rem;
        align: center;
        margin-top: 2vh;

        color: white;
        display: flex;
        justify-content: center;
        text-decoration: none;
        white-space: nowrap;
        display: flex;
        justify-content: center;
      }

    </style>
  </head>
  <body>
    <nav class="navbar bg-dark">

      <div class="container-fluid">
        {% comment %} <a class="navbar-brand text-white" href="/">PAIP</a> {% endcomment %}

      <div class="container-fluid pb-4">
       {% comment %} <a class="navbar-brand text-white" href="/">PAIP</a> {% endcomment %}
      </div>
    </nav>

    <div class="login-box">
      <h2><a class="text-white" href="/">PAIP </a> / STUDENT</h2>
      <p>
        STUDENT is an early AI program capable of solving high-school level
        algebra word problems. Enter a word problem below to check it
        out!
      </p>
      
      <br />
      <form class="msger-inputarea">
        <div class="floating-label">
          <textarea
            class="floating-input floating-textarea"
            id="text-area"
            placeholder=" "></textarea>
          <span class="highlight"></span>
          <label>Type problem here</label>
        </div>

        <br />
        <h3>Solution:</h3>

        <div class="result-box">Your result will appear here
        </div>
        
        <br />

        <button id="show-intermediates-btn" class="show-intermediates-btn">Show Intermediate Steps</button>
        
        <div id="show-intermediates-div" class="show-intermediates-div" style="display:none;"></div>
        
        <br />
        
        <div id="try-again-div" class="try-again-div">
          <button id="try-again" type="try-again" style="display:none;" class="card-form-secondary-button"  onclick="window.location.reload();">
            Try Again
          </button>
        </div>
        
          <button id="submit" type="submit" class="card-form-button">
            SOLVE
          </button>
      </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"></script>
    <script>
      const msgForm = get(".msger-inputarea");
      // get the textarea element
      const textarea = get(".floating-input");

      // get the submit button element
      const submitBtn = document.getElementById("submit-btn");
      const tryagainDiv = document.getElementById("try-again-div");
      const intermediatesBtn = document.getElementById("show-intermediates-btn");

      // get the result div element
      const resultDiv = get(".result-box");
      const intermediatesDiv = document.getElementById("show-intermediates-div");
      
      var infix = "";
      var substituted = "";
      
      // Wait for the page to load first
      window.onload = function() {

          //Get a reference to the link on the page
          // with an id of "mylink"
          const a = document.getElementById("show-intermediates-link");

          //Set code to run when the link is clicked
          // by assigning a function to "onclick"
          a.onclick = function() {
            console.log("clicked");
  				  if (intermediatesDiv.style.visibility === "hidden") {
    				  intermediatesDiv.style.visibility = "visible";
    				} else {
      				intermediatesDiv.style.visibility = "hidden";
  	  			}
			    }
        }
      
      

      // add a click event listener to the submit button
      msgForm.addEventListener("submit", (event) => {
        resultDiv.innerHTML = "";
        resultDiv.insertAdjacentHTML("beforeend", "Loading...");
        event.preventDefault();
        // get the input text from the textarea
        const inputText = textarea.value;

        // base64 encode the input text
        // inputText = inputText.replace("%", " %% ")
        // inputText = inputText.replace("  ", " ")
        const encodedText = btoa(inputText);
        console.log(encodedText);
        student(encodedText);
        tryagainDiv.style.visibility = "visible";
      });

      function appendMessage(msg) {
        var results = "";
        infix = "";
        substituted = "";
        Object.keys(msg).forEach(function (element) {
          if (element == "solved") {
            msg[element].forEach(function (element) {
              results += `<p>${element}</p>`;
            });
          }
          
          if (element == "infixEqns") {
            infix += `<p>Parsed Equations:</p>`;
            infix += `<ul style="list-style-type: disc">`;
            msg[element].forEach(function (element) {
              infix += `<li>${element}</li>`;
            });
            infix += `</ul>`;
          }
          
          if (element == "substituted") {
            substituted += `<p>On substituting values:</p>`;
            substituted += `<ul style="list-style-type: disc">`;
            msg[element].forEach(function (element) {
              substituted += `<li>${element}</li>`;
            });
            substituted += `</ul>`;
          }
          
        });
        
        resultDiv.innerHTML = "";
        resultDiv.insertAdjacentHTML("beforeend", results);
        intermediatesDiv.innerHTML = "";
        intermediatesDiv.insertAdjacentHTML("beforeend", infix);
        intermediatesDiv.insertAdjacentHTML("beforeend", substituted);
      }
  
      
      intermediatesBtn.onclick = function() {
        if (intermediatesDiv.style.display === "none") {
    			intermediatesDiv.style.display = "block";
    		} else {
      		intermediatesDiv.style.display = "none";
  	  	}
      }
      

      function student(rawText) {
        // Bot Response
        $.get(`https://student-go.onrender.com/paip/student/${rawText}`).done(
          function (data) {
            console.log(rawText);
            console.log(data);
            const msgText = data;
            appendMessage(msgText);
          }
        );
        
        $("#try-again-div").show();
      }

      // Utils
      function get(selector, root = document) {
        return root.querySelector(selector);
      }
    </script>
  
  </body>
</html>
